In [1]:
#데이터 불러오기
#데이터 확인1

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

power_csv = pd.read_csv('./power.csv', thousands=',', encoding= 'cp949')
power_csv

,date,Usage_power_total,product_1,product_2,product_total,Temp.,Humidity
0,2017-01-02,9962,19399,1411,20810,2.5,67.0
1,2017-01-03,11196,20457,1802,22259,4.1,56.0
2,2017-01-04,12146,20004,2092,22096,4.3,67.6
3,2017-01-05,12157,20256,2026,22282,2.3,71.5
4,2017-01-06,12567,20459,2066,22525,0.9,75.8
...,...,...,...,...,...,...,...
1077,2020-12-24,11798,21934,1536,23470,2.3,75.5
1078,2020-12-28,9984,23183,977,24160,1.7,84.5
1079,2020-12-29,11929,21899,1582,23481,0.4,79.8
1080,2020-12-30,11838,21932,1542,23474,-8.7,66.3
1081,2020-12-31,11359,22490,1257,23747,-8.4,49.2

In [2]:
#데이터 확인2; 10개 행만 보기

power_csv.head(10)

,date,Usage_power_total,product_1,product_2,product_total,Temp.,Humidity
0,2017-01-02,9962,19399,1411,20810,2.5,67.0
1,2017-01-03,11196,20457,1802,22259,4.1,56.0
2,2017-01-04,12146,20004,2092,22096,4.3,67.6
3,2017-01-05,12157,20256,2026,22282,2.3,71.5
4,2017-01-06,12567,20459,2066,22525,0.9,75.8
5,2017-01-07,11841,17334,2088,19422,1.0,72.5
6,2017-01-09,9959,18492,1311,19803,3.5,51.1
7,2017-01-10,12070,20206,1745,21951,-1.6,40.6
8,2017-01-11,12079,20755,1764,22519,-3.4,44.7
9,2017-01-12,12382,21010,1918,22928,-0.9,47.0

In [3]:
#데이터 확인3
#(51,7)의 뜻: 샘플 51개, feature 7개

power_csv.shape

(1082, 7)

In [4]:
#데이터 확인4

print(power_csv.head())

         date  Usage_power_total  product_1  product_2  product_total  Temp.  \
0  2017-01-02               9962      19399       1411          20810    2.5
1  2017-01-03              11196      20457       1802          22259    4.1
2  2017-01-04              12146      20004       2092          22096    4.3
3  2017-01-05              12157      20256       2026          22282    2.3
4  2017-01-06              12567      20459       2066          22525    0.9

   Humidity
0      67.0
1      56.0
2      67.6
3      71.5
4      75.8

In [5]:
#Split the dataset; 학습을 위한 train set과 성능검증을 위한 test set 분리
#X: Input array, y: Output array

from sklearn.model_selection import train_test_split

X = power_csv.drop(['date', 'Usage_power_total'], axis=1)
y = power_csv['Usage_power_total']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, shuffle=True)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(757, 5) (325, 5) (757,) (325,)

In [6]:
X_train

      product_1  product_2  product_total  Temp.  Humidity
12        19928       1484          21412   -5.3      55.3
250       19799       1883          21682    9.0      43.5
282       15349       1469          16818   -6.0      34.6
268       15859       1969          17829   -1.0      54.2
709       22808       2628          25436   26.0      77.2
...         ...        ...            ...    ...       ...
847       17908       1290          19198   -2.0      50.5
715       14310       1685          15995   25.0      68.8
905       23053       1261          24314   16.0      36.7
235       18628       2026          20654   10.0      75.0
1061      22569       1625          24194    1.9      53.1

[757 rows x 5 columns]

In [7]:
print(X)

      product_1  product_2  product_total  Temp.  Humidity
0         19399       1411          20810    2.5      67.0
1         20457       1802          22259    4.1      56.0
2         20004       2092          22096    4.3      67.6
3         20256       2026          22282    2.3      71.5
4         20459       2066          22525    0.9      75.8
...         ...        ...            ...    ...       ...
1077      21934       1536          23470    2.3      75.5
1078      23183        977          24160    1.7      84.5
1079      21899       1582          23481    0.4      79.8
1080      21932       1542          23474   -8.7      66.3
1081      22490       1257          23747   -8.4      49.2

[1082 rows x 5 columns]

In [8]:
print(y)

0        9962
1       11196
2       12146
3       12157
4       12567
        ...
1077    11798
1078     9984
1079    11929
1080    11838
1081    11359
Name: Usage_power_total, Length: 1082, dtype: int64

In [9]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(757, 5) (757,)
(325, 5) (325,)

In [10]:
#Build MLP structure(with 2 hidden layers using Keras)
#activation 'relu': powerful in deep NN

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import SGD

mlp_model = Sequential()
mlp_model.add(Dense(512, activation='relu', input_shape=(5,)))
mlp_model.add(Dense(256, activation='relu'))
mlp_model.add(Dense(10, activation='softmax'))

mlp_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               3072
_________________________________________________________________
dense_1 (Dense)              (None, 256)               131328
_________________________________________________________________
dense_2 (Dense)              (None, 10)                2570
=================================================================
Total params: 136,970
Trainable params: 136,970
Non-trainable params: 0
_________________________________________________________________

In [11]:
#Build Loss func. and optimizer

sgd = SGD(lr=0.005)
mlp_model.compile(loss= 'sparse_categorical_crossentropy', optimizer=sgd, metrics=['accuracy'])

In [12]:
#Train and Evaluation of the MLP model

model_history = mlp_model.fit(X_train, y_train, epochs=5, batch_size=10, verbose=2, validation_data=(X_test, y_test), shuffle=True)

Epoch 1/5

InvalidArgumentError:  Received a label value of 16030 which is outside the valid range of [0, 10).  Label values: 13352 11829 5228 6701 16030 15329 10832 0 15492 15333
	 [[node sparse_categorical_crossentropy/SparseSoftmaxCrossEntropyWithLogits/SparseSoftmaxCrossEntropyWithLogits (defined at Users\lhaev\AppData\Local\Temp/ipykernel_14724/1796403950.py:3) ]] [Op:__inference_train_function_499]

Function call stack:
train_function

In [ ]:
#Dictionary of trining and evaluation history

print(model_history.history.keys())

In [ ]:
plt.plot(model_history.history['loss'])
plt.plot(model_history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['traian', 'test'], loc='right')
plt.show()

#loss 값이 0에 가까워질수록 정확도 올라감

In [ ]:
plt.plot(model_history.history['accuracy'])
plt.plot(model_history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='right')
plt.show()